<!DOCTYPE html>
<html ng-app="exampleApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <style>
        *.error {
            color: red;
            font-weight: bold;
        }
    </style>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script type="text/ng-template" id="triTemplate">
        <div class="well">
            <div class="btn-group">
                <button class="btn btn-default">Yes</button>
                <button class="btn btn-default">No</button>
                <button class="btn btn-default">Not Sure</button>
            </div>
            <span class="error" ng-show="myForm.decision.$error.confidence">
                You need to be sure
            </span>
        </div>
    </script>
    <script>
        angular.module('exampleApp', [])
            .controller('defaultCtrl', function($scope) {
                $scope.dataValue = 'Not Sure';
            })
            .directive('triButton', function() {
                return {
                    restrict: 'E',
                    replace: true,
                    require: 'ngModel',
                    template: document.querySelector('#triTemplate').outerText,
                    link: function(scope, element, attrs, ctrl) {
                        var validateParser = function (value) {
                            var valid = (value == "Yes" || value == "No");
                            ctrl.$setValidity("confidence", valid);

                            return valid ? value : undefined;
                        };

                        ctrl.$parsers.push(validateParser);

                        ctrl.$formatters.push(function(value) {
                            return value === 'Huh?' ? 'Not Sure' : value;
                        });

                        element.on('click', function (event) {
//                            setSelected(event.target.innerText);
//                            scope.$apply(function () {
//                                ctrl.$setViewValue(event.target.innerText);
//                            });

                            // .. or
                            ctrl.$setViewValue(event.target.innerText);
                            ctrl.$render();
                            scope.$digest(); // .. or $apply
                        });

                        var setSelected = function(value) {
                            var buttons = element.find('button');
                            buttons.removeClass('btn-primary');
                            for (var i = 0; i < buttons.length; i++) {
                                if (buttons.eq(i).text() == value) {
                                    buttons.eq(i).addClass('btn-primary');
                                }
                            }
                        };

                        ctrl.$render = function () {
                            validateParser(ctrl.$viewValue);
                            setSelected(ctrl.$viewValue || "Not Sure");
                        };
                    }
                };
            });
    </script>
</head>
<body ng-controller="defaultCtrl">
    <form name="myForm" novalidate>
        <div><tri-button name="decision" ng-model="dataValue" /></div>
    </form>
    <div class="well">
        Value:
        <select ng-model="dataValue">
            <option>Yes</option>
            <option>No</option>
            <option>Not Sure</option>
            <option>Huh?</option>
        </select>
    </div>
</body>
</html>