<!DOCTYPE html>
<html ng-app="todoApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>TO DO List</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="ToDoCtrl">
<div class="col-md-6">
    <div class="page-header">
        <h1>
            {{todo.user}}'s To Do List
            <span class="label label-default"
                  ng-class="warningLevel()"
                  ng-hide="incompleteCount() === 0">{{incompleteCount()}}</span>
        </h1>
    </div>
    <div class="panel">
        <div class="input-group">
            <input class="form-control" ng-model="actionText"/>
            <span class="input-group-btn">
                <button class="btn btn-default"
                        ng-click="addNewItem(actionText)">Add</button>
            </span>
        </div>

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Description</th>
                <th>Done</th>
                <th>Done</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in todo.items | checkedItems:showComplete | orderBy:'action'">
                <td>{{item.action}}</td>
                <td><input type="checkbox" ng-model="item.done"/></td>
                <td>{{item.done | boolToString}}</td>
            </tr>
            </tbody>
        </table>

        <div class="checkbox-inline">
            <label><input type="checkbox" ng-model="showComplete"> Show Complete</label>
        </div>
    </div>
</div>
</body>
</html>